/* #btn{
  background: #f1f1f1;
    border-color: #aaa;
    border-image: none;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px 1px 3px;
    color: #444;
    cursor: pointer;
    /* display: block; 
    float: left;
    font-size: 12px;
    font-weight: bold;
    height: 25px;
    line-height: 20px;
    margin-right: 5px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    width: 35px;
}

#A_btn{
    background: #e74c3c;
    border-color: #c0392b;
    border-image: none;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px 1px 3px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    /* display: block; 
    float: left;
    font-size: 12px;
    font-weight: bold;
    height: 22px;
    line-height: 20px;
    margin-right: 5px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    width: 74px;
}

#C_btn{
    background: #e74c3c;
    border-color: #c0392b;
    border-image: none;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px 1px 3px;
    color: white;
    cursor: pointer;
    /* display: block; 
    float: left;
    font-size: 12px;
    font-weight: bold;
    height: 22px;
    line-height: 20px;
    margin-right: 5px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    width: 35px;
}

#O_btn{
    background: #f1f1f1;
    border-color: #aaa;
    border-image: none;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px 1px 3px;
    color: #444;
    cursor: pointer;
    /* display: block; 
    float: left;
    font-size: 12px;
    font-weight: bold;
    height: 25px;
    line-height: 20px;
    margin-right: 5px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    width: 74px;
}

#E_btn{
    background: none repeat scroll 0 0 #2ecc71;
    border-color: #27ae60;
    border-image: none;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px 1px 3px;
    color: #444;
    cursor: pointer;
    /* display: block; 
    float: left;
    font-size: 12px;
    font-weight: bold;
    height:55px;
    line-height: 20px;
    margin-right: 5px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    width: 35px;
    position: absolute;

}

body {
    font-family: Arial;
}

/* #arrow{
    background: #f1f1f1;
    border-color: #aaa;
    border-image: none;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px 1px 3px;
    color: #444;
    cursor: pointer;
    display: block; 
    float: left;
    font-size: 12px;
    font-weight: bold;
    height: 25px;
    line-height: 20px;
    margin-right: 5px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    width: 35px;
    
} 
.App{
    /* position: absolute; 
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 8px;
    margin: auto;


    Width:210px;
}
.rowOne{
    display: block;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    margin-bottom: 5px;
}

.rowTwo{
    display: block;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    margin-bottom: 5px;
}

.rowThree{
    display: block;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    margin-bottom: 5px;
}
.rowFour{
    display: block;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    margin-bottom: 5px;
}
.rowFive{
    display: block;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    margin-bottom: 5px;
    /* position: relative; 
}
.rowSix{
    /* position: relative; 
    display: block;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    margin-bottom: 5px;
}
.Display{
    background: none repeat scroll 0 0 #fff;
    border-color: #aaa;
    border-image: none;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px 1px 3px;
    font-size: 20px;
    height: 30px;
    line-height: 30px;
    text-align: right;
    text-indent: 10px;
    vertical-align: middle;
    width: 200px;
    float: left;
    margin-bottom: 7px;
    padding-right: 5px;
}
.clear{
    clear: both;
} */


/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* 
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {background-color: #f2f2f2;}
 */
/* body {
  font-family: Arial;
}
td{
  background: #f1f1f1;
  border-color: #aaa;
  border-image: none;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px 1px 3px;
  color: #444;
  cursor: pointer;
  /* display: block; */
 /* float: left;
  font-size: 12px;
  font-weight: bold;
  height: 20px;
  line-height: 20px;
  margin-right: 5px;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  width: 35px;
} */



.App{
    /* position: relative; */
    
    overflow: hidden;
    background-color:#dadada;
    border: 1px solid #aaa;
    border-bottom: 7px solid #999;
    border-radius: 5px;
    width: 200px;
    padding: 7px;
    margin: auto;  
    top: 200px;
    height: 215px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1)
    
  }
  /* .Button {
    background: #f1f1f1;
    border-color: #aaa;
    border-image: none;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px 1px 3px;
    color: #444;
    cursor: pointer;
    /* display: block; 
    float: left;
    font-size: 12px;
    font-weight: bold;
    height: 20px;
    line-height: 20px;
    margin-right: 5px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    width: 35px;
    
    
  } */
  .Button{
    /* background: #f1f1f1;
    border-color: #aaa;
    border-image: none;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px 1px 3px;
    color: #444;
    cursor: pointer; */
    /* display: block; */
     /* float: left; */
    /*font-size: 12px;
    font-weight: bold;
    height: 20px;
    line-height: 20px;
    margin-right: 5px;*/
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    width: 35px; 
    /* left: 1px; */
    margin-left: -6px;
    
  }
  
  #btn{
    position: relative;
    background: #f1f1f1;
    border-color: #aaa;
    border-image: none;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px 1px 3px;
    color: #444;
    cursor: pointer;
    /* display: block; */
    float: left;
    font-size: 12px;
    font-weight: bold;
    height: 25px;
    line-height: 21px;
    margin-right: 5px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    width: 35px;
   
    
  }
  .row1,.row2,.row3,.row4,.row5{
  
    display: block;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    margin-bottom: 5px;
    position: relative;
    
  }
  
  .row6{
    display: block;
    /* overflow: hidden; */
    /* overflow-x: hidden; */
    /* overflow-y: hidden; */
    position: absolute;
  }
  
  
  .BackBtn{
    text-align: center;
    text-decoration: none;  
    /* vertical-align: middle; */
    width: 75px; 
    position: relative;
    top:-3px;
    /* left: 1px; */
    margin-left: -6px;
    font-size: 25px;
    float: left;
    font-weight: bold;
    /* height: 25px; */
    /* line-height: 20px; */
    /* margin-right: 5px; */
  }
  
  .Zbtn{
    text-align: center;
    text-decoration: none;  
    /* vertical-align: middle; */
    width: 75px; 
    position: relative;
    top:3px;
    /* left: 1px; */
    top:-1px;
    margin-left: -6px;
    font-size: 12px;
    float: left;
    font-weight: bold;
  
  }
  
  
  .Ebtn{
    text-align: center;
    text-decoration: none;  
    vertical-align: middle;
    width: 34px; 
    position: relative;
    /* top:-3px; */
    /* left: 1px; */
    /* top:-1px; */
    margin-left: -6px;
    font-size: 12px;
    float: left;
    font-weight: bold;
  
  }
  #btn_zero{
    position: relative;
    background: #f1f1f1;
    border-color: #aaa;
    border-image: none;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px 1px 3px;
    color: #444;
    cursor: pointer;
    /* display: block; */
    float: left;
    font-size: 12px;
    font-weight: bold;
    height: 25px;
    line-height: 21px;
    margin-right: 5px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    width: 75px!important;
  }
  
  #btn_equal{
    /* width: 36px;
    height: 55px;
     */
     top:-30px;
    position: absolute;
  
    background: none repeat scroll 0 0 #2ecc71;
      border-color: #27ae60;
      bottom: -0.1px;
      color: #fff;
      font-size: 20px;
      line-height: 47px;
      /* right: 10px; */
      /* *: ; */
      /* right: -6px; */
      width: 35px;
      height: 55px;
      /* position: absolute; */
      border-radius: 4px;
      border-style: solid;
      border-width: 1px 1px 3px;
      cursor: pointer;
      text-align: center;
    text-decoration: none;
    vertical-align: middle;
  
      /* LINE-HEIGHT: 65PX; */
      /* FONT-SIZE: 20px; */
  }
  
  
  #btn_backSpace{
    /* position: relative; */
    float: left;
    
    font-weight: bold;
    height: 25px;
    line-height: 21px;
    margin-right: 5px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
  
    cursor: pointer;
    /* border-color: #aaa; */
    border-image: none;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px 1px 3px;
    background: none repeat scroll 0 0 #e74c3c;
    color: #fff;
    border-color: #c0392b;
    width: 75px!important;
  }
  
  #btn_clear,#btn_inverse{
    float: left;
    font-size: 12px;
    font-weight: bold;
    height: 25px;
    line-height: 21px;
    margin-right: 5px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
  
    cursor: pointer;
    border-color: #aaa;
    border-image: none;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px 1px 3px;
    background: none repeat scroll 0 0 #e74c3c;
    color: #fff;
    border-color: #c0392b;
    width: 35px;
  }
  
  #btn_backSpace:active,#btn_clear:active,#btn_inverse:active{
    position: relative;    
    height: 25px;
    border-bottom: 1px solid #e74c3c;
  }
  
  #btn_equal:active{
    position: relative;    
    height: 55px;
    border-bottom: 1px solid #2ecc71;
  }
  
  #btn:hover, #btn_zero:hover {
    background: #eaeaea;
  }
  #btn:active, #btn_zero:active{
    position: relative;    
    height: 25px;
    border-bottom: 1px solid #aaa;
  }
  .clear {
    clear: both;
  }
  
  .Display{
    
      background: none repeat scroll 0 0 #fff;
      border-color: #aaa;
      border-image: none;
      border-radius: 3px;
      border-style: solid;
      border-width: 1px 1px 3px;
      font-size: 17px;
      height: 30px;
      line-height: 30px;
      text-align: right;
      text-indent: 10px;
      vertical-align: middle;
      width: 188px;
      float: left;
      margin-bottom: 7px;
      padding-right: 5px;
  
  }
  .DisplayExp{
    
    background: none repeat scroll 0 0 #fff;
    border-color: #aaa;
    border-image: none;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px 1px 3px;
    font-size: 17px;
    height: 30px;
    line-height: 30px;
    text-align: right;
    text-indent: 10px;
    vertical-align: middle;
    width: 188px;
    float: left;
    margin-bottom: 7px;
    padding-right: 5px;
    color: red;
  
  }
  
  